alembic
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
distlib
dnspython
email-validator
et_xmlfile
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
fsspec
google-auth
google-auth-oauthlib
greenlet
huggingface-hub
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mpmath
mysql-connector-python
networkx
numpy
oauthlib
openpyxl
packaging
panda
pandas
pdf2image
pdfminer.six
pdfplumber
pillow
platformdirs
protobuf
pyasn1
pyasn1_modules
pycparser
PyMySQL
pypdfium2
pytesseract
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
setuptools
shell
six
SQLAlchemy
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
WTForms
