<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Dashboard | webadmin - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">

        <link href="{{ url_for('static', filename='assets/libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

        <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='assets/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/main.css') }}"/>

    </head>

    <body>

        <div id="layout-wrapper">

            <div class="vertical-menu">

                <div class="navbar-brand-box">
                    <a href="/" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{{ url_for('static', filename='assets/images/logo-dark-sm.png') }}" alt="" height="26">
                        </span>
                        <span class="logo-lg">
                            <img src="{{ url_for('static', filename='assets/images/logo-dark.png') }}" alt="" height="28">
                        </span>
                    </a>

                    <a href="/" class="logo logo-light">
                        <span class="logo-lg">
                            <img src="{{ url_for('static', filename='assets/images/logo-light.png') }}" alt="" height="30">
                        </span>
                        <span class="logo-sm">
                            <img src="{{ url_for('static', filename='assets/images/logo-light-sm.png') }}" alt="" height="26">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                    <i class="bx bx-menu align-middle"></i>
                </button>

                <div data-simplebar class="sidebar-menu-scroll">

                    <div id="sidebar-menu">
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" data-key="t-menu">Menu</li>

                            <li>
                                <a href="/">
                                    <i class="bx bx-home-alt icon nav-icon"></i>
                                    <span class="menu-item" data-key="t-dashboard">Dashboard</span>
                                </a>
                            </li>

                            <li class="menu-title" data-key="t-applications">Applications</li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i class="bx bx-store icon nav-icon"></i>
                                    <span class="menu-item" data-key="t-ecommerce">Ecommerce</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{{ url_for('ecommerce_products') }}" data-key="t-products">Products</a></li>
                                    <li><a href="" data-key="t-cart">Cart</a></li>
                                    <li><a href="{" data-key="t-checkout">Checkout</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i class="bx bx-user-circle icon nav-icon"></i>
                                    <span class="menu-item" data-key="t-contacts">Contacts</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{{ url_for('contacts_list') }}" data-key="t-user-list">User List</a></li>
                                    <li><a href="{{ url_for('contacts_profile') }}" data-key="t-user-profile">Profile</a></li>
                                </ul>
                            </li>

                            <li class="menu-title" data-key="t-pages">Pages</li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i class="bx bx-user-pin icon nav-icon"></i>
                                    <span class="menu-item" data-key="t-authentication">Authentication</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{{ url_for('login') }}" data-key="t-login">Login</a></li>
                                    <li><a href="{{ url_for('register') }}" data-key="t-register">Register</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    </div>
            </div>
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/libs/metismenujs/metismenujs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/libs/eva-icons/eva.min.js') }}"></script>

        <script src="{{ url_for('static', filename='assets/libs/apexcharts/apexcharts.min.js') }}"></script>

        <script src="{{ url_for('static', filename='assets/libs/jsvectormap/js/jsvectormap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/libs/jsvectormap/maps/world-merc.js') }}"></script>
        
        <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

    </body>
</html>