{% extends "layout.html" %}
{% block page_title %}Tasks Info{% endblock %}
   {% block content %}
    <div id="layout-wrapper">

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">

                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="">
                                            <div class="row mb-2">
                                                <div class="col-xl-3 col-md-12">
                                                    <div class="pb-3 pb-xl-0">
                                                        <form class="email-search">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control bg-light" placeholder="Search...">
                                                                <span class="bx bx-search font-size-18"></span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-xl-9 col-md-12">
                                                    <div class="text-sm-end">
                                                        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2" data-bs-toggle="modal" data-bs-target=".create-task"><i class="mdi mdi-plus me-1"></i> Create Task</button>
            
                                                     </div>
                                            
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-nowrap align-middle mb-0">
                                                <thead>
                                                    <tr>
                                                        <!-- <th style="width: 30px;">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" name="check" class="form-check-input" id="checkAll">
                                                                <label class="form-check-label" for="checkAll"></label>
                                                            </div>
                                                        </th> -->
                                                        <th>Priority</th>
                                                        <th style="width: 190px;">Project</th>
                                                        <th>Tasks</th>
                                                        <th>Department</th>
                                                        <th>Assigned To</th>
                                                        <th>Project Manager</th>
                                                        <th>Status</th>
                                                        <th>Start Due</th>
                                                        <th>Deadline</th>
                                                        <th>Progress</th>
                                                        <th>Manhours</th>
                                                        <th>Notes</th>
                                                        <th>Tasks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 40px;">
                                                       <div class="d-flex justify-content-center">
                                                                        <span class="rounded-circle" style="height: 12px; width: 12px; background-color: #8B1A1A; display: inline-block;" title="High Priority"></span>
                                                                    </div>
                                                                </td>
                                                        </td>
                                                        <td>
                                                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Osint</a></h5>
                                                        </td>
                                                        <td>
                                                           <p class="mb-0">UI</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">MDC</p>
                                                        </td>
                                                        
                                                        <td>
                                                            <div class="avatar-group">
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">Lurs</p>
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">Ongoing</div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">11 / 12 / 2024 :23:00</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">02 / 15 / 2025 :11:23</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">80%</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">500 hrs</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">Lorem ipsum 
                                                                - it may work</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">4/12</p>
                                                        </td>
                                                        
                                                    </tr>

                                                 <tr>
                                                        <td style="width: 40px;">
                                                       <div class="d-flex justify-content-center">
                                                                        <span class="rounded-circle" style="height: 12px; width: 12px; background-color: #8B1A1A; display: inline-block;" title="High Priority"></span>
                                                                    </div>
                                                                </td>
                                                        </td>
                                                        <td>
                                                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Osint</a></h5>
                                                        </td>
                                                        <td>
                                                           <p class="mb-0">UI</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">MDC</p>
                                                        </td>
                                                        
                                                        <td>
                                                            <div class="avatar-group">
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">Lurs</p>
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">Ongoing</div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">11 / 12 / 2024 :23:00</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">02 / 15 / 2025 :11:23</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">80%</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">500 hrs</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">Lorem ipsum 
                                                                - it may work</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">4/12</p>
                                                        </td>
                                                        
                                                        
                                                        
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 40px;">
                                                       <div class="d-flex justify-content-center">
                                                                        <span class="rounded-circle" style="height: 12px; width: 12px; background-color: #8B1A1A; display: inline-block;" title="High Priority"></span>
                                                                    </div>
                                                                </td>
                                                        </td>
                                                        <td>
                                                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Osint</a></h5>
                                                        </td>
                                                        <td>
                                                           <p class="mb-0">UI</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">MDC</p>
                                                        </td>
                                                        
                                                        <td>
                                                            <div class="avatar-group">
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">Lurs</p>
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">Ongoing</div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">11 / 12 / 2024 :23:00</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">02 / 15 / 2025 :11:23</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">80%</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">500 hrs</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">Lorem ipsum 
                                                                - it may work</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">4/12</p>
                                                        </td>
                                               
                                                    </tr>
<tr>
                                                        <td style="width: 40px;">
                                                       <div class="d-flex justify-content-center">
                                                                        <span class="rounded-circle" style="height: 12px; width: 12px; background-color: #8B1A1A; display: inline-block;" title="High Priority"></span>
                                                                    </div>
                                                                </td>
                                                        </td>
                                                        <td>
                                                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Osint</a></h5>
                                                        </td>
                                                        <td>
                                                           <p class="mb-0">UI</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">MDC</p>
                                                        </td>
                                                        
                                                        <td>
                                                            <div class="avatar-group">
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">Lurs</p>
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">Ongoing</div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">11 / 12 / 2024 :23:00</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">02 / 15 / 2025 :11:23</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">80%</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">500 hrs</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">Lorem ipsum 
                                                                - it may work</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">4/12</p>
                                                        </td>
                                                        
                                                        
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40px;">
                                                       <div class="d-flex justify-content-center">
                                                                        <span class="rounded-circle" style="height: 12px; width: 12px; background-color: #8B1A1A; display: inline-block;" title="High Priority"></span>
                                                                    </div>
                                                                </td>
                                                        </td>
                                                        <td>
                                                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Osint</a></h5>
                                                        </td>
                                                        <td>
                                                           <p class="mb-0">UI</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">MDC</p>
                                                        </td>
                                                        
                                                        <td>
                                                            <div class="avatar-group">
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                                <div class="avatar-group-item">
                                                                    <a href="javascript: void(0);" class="d-inline-block">
                                                                        <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle avatar-sm">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">Lurs</p>
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">Ongoing</div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">11 / 12 / 2024 :23:00</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">02 / 15 / 2025 :11:23</p>
                                                        </td>
                                                            <td>
                                                            <p class="mb-0">80%</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">500 hrs</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">Lorem ipsum 
                                                                - it may work</p>
                                                        </td>
                                                        
                                                            <td>
                                                            <p class="mb-0">4/12</p>
                                                        </td>
                                                        
                                                        
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            <!--  Extra Large modal example -->
            <div class="modal fade create-task" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myExtraLargeModalLabel">Create Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="CreateTask-Category">Select Project</label>
                                        <select class="form-select">
                                            <option  selected> Select </option>
                                            <option>Osint</option>
                                            <option>MDC</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="CreateTask-Task-Name">Task Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Task Name" id="CreateTask-Task-Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Start Date</label>
                                        <input type="text" class="form-control" placeholder="Select Due Date" id="CreateTask-due-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                     <div class="mb-3">
                                        <label class="form-label">Deadline</label>
                                        <input type="text" class="form-control" placeholder="Select Due Date" id="CreateTask-due-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Client</label>
                                        <input type="text" class="form-control" placeholder="Select Due Date" id="CreateTask-due-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Department</label>
                                        <input type="text" class="form-control" placeholder="Select Due Date" id="CreateTask-due-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="CreateTask-Team-Member">Team Member</label>
                                        <input type="text" class="form-control" placeholder="Enter Team Member" id="CreateTask-Team-Member">
                                    </div>
                                </div>
                           </div>
                           <div class="row mt-2">
                            <div class="col-12 text-end">
                                <button type="button" class="btn btn-danger me-1" data-bs-dismiss="modal"><i class="bx bx-x me-1 align-middle"></i> Cancel</button>
                                <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-btn" id="btn-save-event"><i class="bx bx-check me-1 align-middle"></i> Confirm</button>
                            </div>
                        </div>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <!--  successfully modal  -->
            <div id="success-btn" class="modal fade" tabindex="-1" aria-labelledby="success-btnLabel" aria-hidden="true" data-bs-scroll="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                           <div class="text-center">
                               <i class="bx bx-check-circle display-1 text-success"></i>
                               <h4 class="mt-3">Task Completed Successfully</h4>
                           </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
                

                <!-- <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © webadmin.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Themesdesign.com/" target="_blank" class="text-reset">Themesdesign</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer> -->
            </div>
            <!-- end main content-->

        </div>
   {% endblock content %}